* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
}

#ej2 {
    width: 900px;
    height: 500px;
    margin: 40px auto;
}

#animacion-cielo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: cielo 40s linear infinite;
}

#agua {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    z-index: 1000;
    background: linear-gradient(to bottom, #050440, #1d67a8);
    border-top: 2px solid #000;
}

#animacion-cielo img {
    position: absolute;
}

/* SOL */

#sol {
    width: 150px;
    animation: sol 40s linear infinite;
}

@keyframes sol {
    0% {
        left: -20%;
        top: 70%;
        opacity: 0.8;
    }

    25% {
        left: 25%;
        top: 40%;
        opacity: 1;
    }

    50% {
        left: 60%;
        top: 20%;
        opacity: 1;
    }

    60% {
        left: 110%;
        top: 70%;
        opacity: 0.8;
    }

    100% {
        left: -20%;
        top: 80%;
        opacity: 0.8;
    }
}

/* LUNA */

#luna {
    width: 90px;
    animation: luna 40s linear infinite;
}

@keyframes luna {
    0% {
        left: -20%;
        top: 85%;
        opacity: 0;
    }

    25% {
        left: 20%;
        top: 90%;
        opacity: 0;
    }

    50% {
        left: 120%;
        top: 80%;
        opacity: 1;
    }

    75% {
        left: 60%;
        top: 30%;
        opacity: 1;
    }

    100% {
        left: -20%;
        top: 60%;
        opacity: 1;
    }
}

/* NUBES */

#nube1 {
    width: 140px;
    top: 12%;
    filter: blur(1px);
    animation: nube1 32s linear infinite;
    animation-delay: -5s;
}

#nube2 {
    width: 160px;
    top: 24%;
    filter: blur(4px);
    animation: nube2 36s linear infinite;
    animation-delay: -12s;
}

#nube3 {
    width: 130px;
    top: 38%;
    filter: blur(2px);
    animation: nube3 30s linear infinite;
    animation-delay: -18s;
}

#nube4 {
    width: 150px;
    top: 8%;
    filter: blur(2px);
    animation: nube4 40s linear infinite;
    animation-delay: -24s;
}

#cohete {
    width: 80px;
    top: 8%;
    z-index: 1;
    opacity: 0.5;
    filter: blur(1px);
    animation: cohete 15s linear infinite;
    animation-delay: -24s;
}

@keyframes nube1 {
    0% {
        left: -40%;
    }

    100% {
        left: 110%;
    }
}

@keyframes nube2 {
    0% {
        left: -50%;
    }

    100% {
        left: 110%;
    }
}

@keyframes nube3 {
    0% {
        left: -35%;
    }

    100% {
        left: 110%;
    }
}

@keyframes nube4 {
    0% {
        left: -45%;
    }

    100% {
        left: 110%;
    }
}

@keyframes cohete {
    0% {
        transform: rotateZ(-20deg);
        left: -50%;
        top: 8%;
    }

    80% {
        transform: rotateZ(360deg);
        left: 50%;
        top: 50%;
    }

    90% {
        transform: rotateZ(380deg);
        left: 70%;
        top: 30%;
    }

    100% {
        transform: rotateZ(320deg);
        left: 110%;
        top: 0%;
    }
}

/* CIELO */

@keyframes cielo {
    0% {
        background: #00112B;
    }

    10% {
        background: #f99b5f;
    }

    20% {
        background: #DBFEFE;
    }

    40% {
        background: #DBFEFE;
    }

    50% {
        background: #f99b5f;
    }

    60% {
        background: #00112B;
    }

    100% {
        background: #00112B;
    }
}